.card {
  cursor: pointer;
  height: auto;
  overflow: hidden;
}

.card:hover {
  opacity: 0.6;
  filter: alpha(opacity=100); /* internet explorer */
}

.bgImage {
  width: 100%;
}

.titleContainer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding-top: 8px;
  background: rgba(0, 0, 0, 0.54);
}

.wrapper {
  padding: 16px;
  position: relative;
}

.title {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.87);
  display: block;
  line-height: 36px;
}
